# PYTHON .GITIGNORE -------------
*.pyc
*.shelve

# JAVA .GITIGNORE -------------
*.class

# Package Files #
# include *.jar for library dependencies
*.war
*.ear

# GRAILS .GITIGNORE -----------

# configuration files
# UniversityProject/grails-app/conf/Config.groovy
# UniversityProject/grails-app/conf/DataSource.groovy

# web application files
UniversityProject/web-app/WEB-INF

# IDE support files
UniversityProject/.classpath
UniversityProject/.launch
UniversityProject/.project
UniversityProject/.settings
UniversityProject/*.launch
UniversityProject/*.tmproj
UniversityProject/ivy*
UniversityProject/eclipse

# default HSQL database files for production mode
UniversityProject/prodDb.*

# general HSQL database files
UniversityProject/*Db.properties
UniversityProject/*Db.script

# logs
UniversityProject/stacktrace.log
UniversityProject/test/reports
UniversityProject/logs


# project release file
UniversityProject/*.war

# plugin release files
UniversityProject/*.zip
UniversityProject/plugin.xml

# older plugin install locations
UniversityProject/plugins
UniversityProject/web-app/plugins

# "temporary" build files
UniversityProject/target

# filesystem
UniversityProject/filesystem/main/*
UniversityProject/filesystem/staging/*
# UniversityProject/*.xml
UniversityProject/*.iml
*.log
# *.xml
# other kumulus project files
*.iws
/manager/target
