# PYTHON .GITIGNORE -------------
*.pyc
*.shelve

# JAVA .GITIGNORE -------------
*.class

# Package Files #
# include *.jar for library dependencies
*.war
*.ear

# GRAILS .GITIGNORE -----------

# configuration files
# kumulus/grails-app/conf/Config.groovy
# kumulus/grails-app/conf/DataSource.groovy

# web application files
kumulus/web-app/WEB-INF

# IDE support files
kumulus/.classpath
kumulus/.launch
kumulus/.project
kumulus/.settings
kumulus/*.launch
kumulus/*.tmproj
kumulus/ivy*
kumulus/eclipse

# default HSQL database files for production mode
UniversityProject/prodDb.*

# general HSQL database files
UniversityProject/*Db.properties
UniversityProject/*Db.script

# logs
UniversityProject/stacktrace.log
UniversityProject/test/reports
UniversityProject/logs


# project release file
UniversityProject/*.war

# plugin release files
UniversityProject/*.zip
UniversityProject/plugin.xml

# older plugin install locations
UniversityProject/plugins
UniversityProject/web-app/plugins

# "temporary" build files
UniversityProject/target

# filesystem
UniversityProject/filesystem/main/*
UniversityProject/filesystem/staging/*

# other kumulus project files
*.iws
/manager/target
