
h3{font-family: Calibri; font-size: 22pt; font-style: normal; font-weight: bold; color:black;
    text-align: center; text-decoration: underline }
table{font-family: Calibri; color:black; font-size: 11pt; font-style: normal;
; background-color: lightgrey;
;  }
table.inner{border: 0px}


.textInput {width:260px }
.innerTableInput{width: 80%}
.radioInput{}

.textInput1 {width:200px }


#data{
    background-color: lightgrey;
    border: 2px solid black;
    padding: 25px 25px 10px; width:1000px;
}
#info {

    width:450px;
}

#papers{
    margin-top: 10px;

}
#image{
    margin-top: 10px;

}