/**
 * Created by chandan on 3/12/14.
 */

#main {
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.4);
    margin: 0px auto 20px;
    padding: 25px 25px 10px; width:90%;min-height: 500px;
}

/*table*/
body{
    width:100%;
}

.university-table-1-2 td{
    width: 50%;
}
.university-location-select{
}

.university-label-location-select, .university-location-select select{
    width: 150px;
    display: inline-block;
}
.university-table-1-3 td{
    width: 33.33%;
}

.university-table-1-4 td{
    width: 20%;
}
/*Size*/
.university-size-1-1{
    width: 90%;
}

.university-size-1-2{
    width: 50%;
}

.university-size-1-3{
    width: 33.33%;
}

.university-size-2-3{
    width: 66.66%;
}

.university-size-1-4{
    width: 20%;
}
.university-float-left{
    float: left;
}
.university-float-right{
    float: right;
}
/*button*/
.university-button{
    border-radius:0;
    padding:.1em 1.7em;
    vertical-align:top;
    height:2em;
}
/* For Validation*/
input.error, select.error{
    border: #cd0a0a solid 1px;
}

label.error{
    margin-left: 4px;
    color: #cd0a0a;
    display: n;
}

/*Status Message*/

.university-status-message{
    margin: auto;
    color: #0000FF;
    text-align: center;
    font-weight: bold ;
}

.university-session-management{
    height: 90%;
    font: bold 12px Impact, fantasy;
    float: right;
    margin-top: 20px;
    color: #fff;
}
.university-session-management a{
    text-decoration: none;
}

.university-registration-photo{
    height: 200px;
    width:150px;
    border:1px solid black;
    display: block;
    background: url("../images/profile.png") no-repeat;
    background-position: bottom;
    background-size: 100%;
    text-align: center;
}

.multiSelect{
    margin-left: 15%;
}

.multiSelect select{
    width: 30%;
    margin: 6px 5%;
    height: 70px;
}

.multiSelect-buttons button{
    width: 80%;
    margin-bottom: 5px;
    font-size: 80%;
}
.multiSelect-buttons{
    width: 10%;
    height: 70px;
    display: inline-block;
    vertical-align: middle;
    margin-top: -29px;
}

/*Copy create css*/

.Venue{
    width: 50%;
    float: left;
}
.Venue label{
    display: inline-block; width: 140px;
    /*text-align: right;*/
}
.Venue input{
    width: 250px;
    margin-left: 50px;
}
.divlabel{
    width:100px;
}

/*Copy admit Card CSS*/
h3{
    font-family: Calibri;
    font-size: 22pt;
    font-style: normal;
    font-weight: bold;
    color:black;
    text-align: center;
    text-decoration: underline;
}

.radioInput{}

#data{
    background-color: lightgrey;
    border: 2px solid black;
    padding: 25px 25px 10px;
    width:1000px;
}
#info {

    width:450px;
}

#papers{
    margin-top: 10px;

}
#image{
    margin-top: 10px;

}

/* Copy popbox css*/

.popbox{
    margin-left: 500px;
    text-align: center;
    position: relative;
}

.collapse {
    position: relative;
}

.box {
    display: block;
    /*display:none;*/
    background: #ffffff;
    border: solid 1px #BBBBBB;
    border-radius: 5px;
    box-shadow: 0px 0px 15px #999;
    position: absolute;
    width: 350px;
    height: 140px;
}

.box a.close {
    color: red;
    font-size: 12px;
    font-family: arial;
    text-decoration: underline;
}

/*copy of register.css*/

table{
    font-family: Calibri;
    color:black;
    font-size: 11pt;
    font-style: normal;
    border: 2px solid black;
}
table.inner{
    border: 0px;
}

.radioInput{}

@media (max-width : 700px) {
    h3{
        font-size: 15pt;
    }
}

@media (max-width : 350px) {
    h3{
        font-size: 11pt;
    }
}