/**
 * Created by chandan on 3/12/14.
 */

#main {
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.4);
    margin: 0px auto 20px;
    padding: 25px 25px 10px; width:90%;min-height: 500px;
}

/*table*/
body{
    width:100%;
}

.university-table-1-2 td{
    width: 50%;
}
.university-location-select{
}

.university-label-location-select, .university-location-select select{
    width: 150px;
    display: inline-block;
}
.university-table-1-3 td{
    width: 33.33%;
}

.university-table-1-4 td{
    width: 20%;
}

.university-table-1-7 td, .university-table-1-7 th{
    min-width: 12%;
    text-align: center;
}
/*Size*/
.university-size-1-1{
    width: 90%;
}

.university-size-1-2{
    width: 50%;
}

.university-size-1-3{
    width: 33.33%;
}

.university-size-2-3{
    width: 66.66%;
}

.university-size-1-4{
    width: 20%;
}
.university-float-left{
    float: left;
}
.university-float-right{
    float: right;
}

.university-text-decoration-none{
    text-decoration: none;
}
/*button*/
.university-button{
    border-radius:0;
    padding:.1em 1.7em;
    vertical-align:top;
    height:2em;
}
/* For Validation*/
input.error, select.error{
    border: #cd0a0a solid 1px;
}

label.error{
    margin-left: 4px;
    color: #cd0a0a;
}

/*Status Message*/

.university-status-message{
    margin: auto;
    color: #0000FF;
    text-align: center;
    font-weight: bold ;
}

.university-session-management{
    height: 50px;
    font: bold 12px DejaVu Serif;
    float: right;
    margin-top: 20px;
    color: #fff;
    line-height: 50px;
    text-transform:capitalize;
}
.university-session-management a{
    text-decoration: none;
    color: saddlebrown ;
}

.university-session-management a:hover{
    color: #fff ;
}

.university-registration-photo{
    height: 200px;
    width:150px;
    border:1px solid black;
    display: block;
    background: url("../images/profile.png") no-repeat;
    background-position: bottom;
    background-size: 100%;
    text-align: center;
}

.multiSelect{
    margin-left: 15%;
}

#multiSelectTab select{
    width: 30%;
    margin: 6px 5%;
    height: 70px;
}

.multiSelect-buttons-button{
    width: 80%;
    margin-bottom: 5px;
    font-size: 80%;
}
#multiSelectTab .multiSelect-buttons{
    width: 10%;
    height: 70px;
    display: inline-block;
    vertical-align: middle;
    margin-top: -29px;
}
.nav{

    margin-top: 40px;
}
.nav ul{
    list-style: none;
    display: inline;
}

.university-role-management{
    margin: auto;
}
.university-role-management li{
    display: inline;
}
.university-role-management a{
    padding: 40px 100px;
    margin: 45px 100px 45px 100px;
    border: #c0acf0 solid 1px;
    border: 5px;
    background-color: #ccbccc;
    color: #fff;
    font: bold 15px DejaVu Serif;
    text-decoration:none;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    -webkit-box-shadow: 2px 4px 5px 1px rgba(97,45,97,1);
    -moz-box-shadow: 2px 4px 5px 1px rgba(97,45,97,1);
    box-shadow: 2px 4px 5px 1px rgba(97,45,97,1);
    -webkit-text-fill-color: #08a640;
    -webkit-text-stroke-color: #03521e;
    -webkit-text-stroke-width: 1px;
    text-fill-color: #08a640;
    text-stroke-color: #03521e;
    text-stroke-width: 1px;

}
/*Copy create css*/

.Venue{
    width: 50%;
    float: left;
}
.Venue label{
    display: inline-block; width: 140px;
    /*text-align: right;*/
}
.Venue input{
    width: 250px;
    margin-left: 50px;
}
.divlabel{
    width:100px;
}

/*Copy admit Card CSS*/
h3{
    font-family: Calibri;
    font-size: 22pt;
    font-style: normal;
    font-weight: bold;
    color:black;
    text-align: center;
    text-decoration: underline;
    margin: 5px auto;
}

.radioInput{}

#data{
    background-color: lightgrey;
    border: 2px solid black;
    padding: 25px 25px 10px;
    width:1000px;
}
#info {

    width:450px;
}

#papers{
    margin-top: 10px;

}
#image{
    margin-top: 10px;

}

/* Copy popbox css*/

.popbox{
    margin-left: 500px;
    text-align: center;
    position: relative;
}

.collapse {
    position: relative;
}

.box {
    display: block;
    /*display:none;*/
    background: #ffffff;
    border: solid 1px #BBBBBB;
    border-radius: 5px;
    box-shadow: 0px 0px 15px #999;
    position: absolute;
    width: 350px;
    height: 140px;
}

.box a.close {
    color: red;
    font-size: 12px;
    font-family: arial;
    text-decoration: underline;
}

.fieldcontain{

    display: inline;
}

.fieldcontain div{
    width: 40%;
    display: inline-block;
    margin: 10px 4px;
}

fieldset.form,
fieldset.buttons{
    margin-top: 10px;
}

/*copy of register.css*/

table{
    font-family: Calibri;
    color:black;
    font-size: 11pt;
    font-style: normal;
    border: 2px solid black;
}
table.inner{
    border: 0px;
}

.radioInput{}

table#multiSelectTab, table#studyCenterTab, #multiSelectTab{
    border-width: 0px;
}
#resetPasswordContainer {
    border-width: 0px;
    width: 100%;
}
/*Login Page*/
#login {
    margin: 15px 0px;
    padding: 0px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

#login .inner {
    width: 390px;
    height: 70%;
    margin: 5% auto;
    text-align: left;
    border: 2px solid #aab;
    border-radius: 4px;
    background-color: #E6E6E6;
    -moz-box-shadow: 4px 2px 2px #CCB8B8;
    -webkit-box-shadow: 2px 2px 2px #CCB8B8;
    -khtml-box-shadow: 2px 2px 2px #CCB8B8;
    box-shadow: 4px 2px 2px #CCB8B8;
}

#login .inner .fheader {
    margin: 15px 0px 14px 20px;
    font-size:20px;
    font-weight:bold;
    font-family:Myriad Pro;
    text-transform:uppercase;
    text-shadow: #fff 2px 2px 2px;
}

#login .inner .cssform input[type='text'] {
    margin-left:25px;
    width:300px;
    height:40px;
    margin-top:20px;
    border-radius: 4px;
    background:url(../images/User.png) no-repeat left;
    background-size:30px;
    padding-left: 34px;
    font-size:14px;
}

#login .inner .cssform input[type='password'] {
    margin-left:25px;
    width:300px;
    height:40px;
    margin-top:20px;
    border-radius: 4px;
    background:url(../images/password.png) no-repeat left;
    background-size:30px;
    padding-left: 34px;
    font-size:14px;
}

#login #remember_me_holder {
    padding-left: 120px;
}

#login #submit {
    padding:0;
    margin-left:2px;
    width:300px;
    height:40px;
    border:0;
    background: url("../images/submit.png") no-repeat;
    margin-left:50px;
}

#login #remember_me_holder label {
    float: none;
    margin-left: 0;
    text-align: left;
    width: 200px
}

#login .inner .login_message {
    padding: 6px 25px 20px 25px;
    color: #c33;
}

#login .inner .text_ {
    width: 120px;
}

#login .inner .chk {
    height: 12px;
}

.mainContent{
    border:1px solid #000000;
    height: 450px;
    width: 50%;
    margin-left: 20%;
    margin-top: 40px;
    border-radius: 4px;
}

.reset-message{
    font-size: 15px;
    color: blue;
}

.reset-button{
    float: right;
}
.university-reset-pass-header{
    width: 100%;
    height:50px;
    background-color: #666666;
}
.University-reset-h2{
    padding:10px;
    margin-left:10px;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
}

@media (max-width : 700px) {
    h3{
        font-size: 15pt;
    }

    .mainContent{
        width:70%;
        margin-left: 10%;
        margin-top: 40px;
    }
}

@media (max-width : 350px) {
    h3{
        font-size: 11pt;
    }
    h2{
        font-size: 15pt;
    }
    .mainContent{
        width:80%;
        margin-left: 5%;
        margin-top: 40px;
    }
}