/**
 * Created by chandan on 3/12/14.
 */

#main {
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.4);
    margin: 0px auto 20px;
    padding: 25px 25px 10px; width:90%;min-height: 500px;
}

/*table*/
body{
    width:100%
}

.university-table-1-2 td{
    width: 50%;
}
.university-location-select{
}

.university-label-location-select, .university-location-select select{
    width: 150px;
    display: inline-block;
}
.university-table-1-3 td{
    width: 33.33%;
}

.university-table-1-4 td{
    width: 20%;
}
/*Size*/
.university-size-1-2{
    width: 50%;
}

.university-size-1-3{
    width: 33.33%;
}

.university-size-1-4{
    width: 20%;
}

.university-float-right{
    float: right;
}
/*button*/
.university-button{
    border-radius:0;
    padding:.1em 1.7em;
    vertical-align:top;
    height:2em
}
/* For Validation*/
input.error, select.error{
    border: #cd0a0a solid 1px;
}

label.error{
    margin-left: 4px;
    color: #cd0a0a;
}

/*Status Message*/

.university-status-message{
    margin: auto;
    color: #0000FF;
    text-align: center;
    font-weight: bold ;
}

.multiSelect{
    margin-left: 15%;
}

.multiSelect select{
    width: 30%;
    margin: 6px 5%;
    height: 70px;
}

.multiSelect-buttons button{
    width: 80%;
    margin-bottom: 5px;
    font-size: 80%;
}
.multiSelect-buttons{
    width: 10%;
    height: 70px;
    display: inline-block;
    vertical-align: middle;
    margin-top: -29px;
}